name: Build and Deploy
on:
  workflow_dispatch:  # 允许手动触发
  # push:
  #   branches: [ main ]  # 同时在推送到 main 分支时自动触发
  schedule:
    # cron 表达式：每周日 0 点（UTC 时间）触发，可根据需求调整时间
    - cron: '0 12 * * 0'  

env: # 设置环境变量
  TZ: Asia/Shanghai # 时区（设置时区可使页面中的`最近更新时间`使用该时区时间）

jobs:
  build: # 自定义名称
    runs-on: ubuntu-latest # 运行在虚拟机环境ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master  # 使用的动作。格式：userName/repoName。作用：检出仓库，获取源码。 官方actions库：https://github.com/actions
      
      - name: Setup Node.js # 步骤2
        uses: actions/setup-node@v4 # 作用：安装nodejs
        with:
          node-version: '20' # 版本
          
      - name: Build-and-deploy # 步骤3
        run: |
          # 配置
          deploy_branch=gh-pages

          # 构建项目
          yarn
          yarn build

          # 部署
          cd docs/.vuepress/dist || exit  # 目录不存在时自动退出
          git init
          git config user.name "syueya"
          git config user.email "1525817566@qq.com"
          git add -A
          git commit -m "auto deploy: $(git rev-parse --short HEAD)" 

          # 远程地址处理
          remote_addr="https://${{secrets.ACCESS_TOKEN}}@github.com/syueya/myblog.git"
          git remote add origin ${remote_addr}

          # 推送到github $deploy_branch分支
          git push origin HEAD:$deploy_branch --force